table.layout {
    width:100%;
    table-layout:fixed;
}
th.songname {
    width: 50%;
    text-align: left;
}

th.bandname {
    width: 50%;
    text-align: left;
}
th.action {
    width: 100px;
}

div.innerbody {
	white-space: pre;
	overflow: hidden;
	padding: 5px;
}
td.bandname div.innerbody {
	background: #224;
	border:2px solid #444;
	border-radius: 5px;
	box-shadow:inset 0px 0px 5px 2px #000;
}
td.songname div.innerbody{
	
}
table.layout td {
	border-bottom: 1px solid #AAA;
}