html,body,div,span,table,td,img {
    table-layout: fixed;
    margin: 0px;
    padding: 0px;
    border-collapse: collapse;
    vertical-align: top;
    border:0px;
    font-family:'Tahoma',sans-serif;
    color:white;
    font-size:20px;
}

html,body{
    background:black;
}

#CIRNO_SYSTEM_DEBUG_WINDOW{
    font-size:10px;
    font-family:system;
}
#CIRNO_SYSTEM_DEBUG_WINDOW.hidden{
    display: none;
}
input, textarea, select, button, div.button{
    border-left:2px solid #66A;
    border-top:2px solid #66A;
    border-bottom:2px solid #88A;
    border-right:2px solid #88A;
    background:#EEF;
    color: #006;   
    border-radius:10px;
    padding:5px;    
    font-size:20px;
}
div.button.active{
    background-color:#FDD;
}

div.button{
    background-image:url('http://cirno/modules/core/js/onyx/images/gradient.png');
    background-size:50px 50px;
    background-color:#EEF;
    border-width: 2px;
    cursor:pointer;
    line-height:20px;
    border-radius:15px;
    padding:10px;
}

div.button:hover{
    background-color:#FFF;
}
div.button.mousedown{
    background-color: #FFF 2px solid;
    border-left: #CCF 2px solid;
    border-top: #CCF 2px solid;
    border-bottom: #DDF 2px solid;
    border-right: #DDF 2px solid;
}

#cirnoApp{
    text-align:center;
}

td{
    text-align:left;
}
td.grouping{
    text-align:right;
    border-bottom:1px solid #ABE;
}
td.topGrouping{
    text-align:left;
    border-bottom:1px solid #ABE;
}
div.group{
    border:1px solid #ABE;
    border-radius:10px;
    padding:5px;
    background:#333;
    display:inline-block;
}

div.onyx-toolbar-inline{
    padding:0px;
    height:60px;
    text-align:center;
    border-bottom: 2px solid #678;
}

div.onyx-toolbar-inline div {
    float:left;
}

div.cirnoLink {
    text-align:left;
    margin-left:30px;
    margin-right:30px;
    border-bottom:1px solid #ABE;
    padding:10px;
    height:25px;
    cursor:pointer;
}
div.cirnoLink:hover{
    color:#DDF;
}

.cirnoToolbar{
    height:50px;
    vertical-align:center;
    line-height:50px;
    margin-bottom:20px;
}

.cirnoDrawer{
    border-bottom:1px solid #ABE;
    border-left:1px solid #ABE;
    border-right:1px solid #ABE;
    border-radius: 0px 0px 20px 20px;
    background:#333;
    position:absolute;
    z-index:9000;
}