html,body,div,span,table,td,img {
    table-layout: fixed;
    margin: 0px;
    padding: 0px;
    border-collapse: collapse;
    vertical-align: top;
    border:0px;
    font-family:'Tahoma',sans-serif;
    font-size:14px;
    color:white;
}

html,body{
    background:black;
}

#CIRNO_SYSTEM_DEBUG_WINDOW{
    position: absolute;
    z-index: 9000;
    bottom: 0px;
    height: 100px;
    width: 100%;
    overflow-y: auto;
    background: #EEE;
    border:1px solid #666;
    color: black;
    font-size: 10px;
    font-weight: normal;
    padding: 3px;
}
#CIRNO_SYSTEM_DEBUG_WINDOW i{
    color: #999;
}
#CIRNO_SYSTEM_DEBUG_WINDOW.hidden{
    display: none;
}
/* Both Layouts */
input, textarea, select, button, div.button{
    border-left:2px solid #66A;
    border-top:2px solid #66A;
    border-bottom:2px solid #88A;
    border-right:2px solid #88A;
    background:#EEF;
    color: #006;   
    font-size:12px;
    border-radius:5px;
    padding:2px;
}

div.button{
    background-image:url('http://cirno/modules/core/js/onyx/images/gradient.png');
    background-color:#EEF;
    cursor:pointer;
    line-height:30px;
    border-radius:7px;
    padding: 3px;    
    font-weight:bold;
    display:inline-block;
    white-space:pre;
}

div.button.active{
    background-color:#FDD;
}

div.button:hover{
    background-color:#FFF;
}

#cirnoApp{
    text-align:center;
}

td{
    text-align:left;
}
td.grouping{
    text-align:right;
    border-bottom:1px solid #ABE;
}
td.topGrouping{
    text-align:left;
    border-bottom:1px solid #ABE;
}
div.group{
    border:1px solid #ABE;
    border-radius:10px;
    padding:5px;
    background:#111;
    display:inline-block;   
}

div.onyx-toolbar-inline{
    padding:0px;
    font-weight:bold;
    height:30px;
    border-bottom: 2px solid #678;
}

div.onyx-toolbar-inline div {
    float:left;
}
div.cirnoLink {
    padding-right:7px;
    padding-left:7px;
    border-right: 1px solid #ABE;
    cursor:pointer;
}

div.cirnoLink:hover{
    color:#DDF;
}

.cirnoToolbar {
    margin-bottom:20px;
}